{% extends 'base.html.twig' %}
 {% block body %}

     <table class="table">
         <thead>
         <tr>
             <th>Reference  </th>
             <th> Name </th>
             <th> Purchasing Price </th>
             <th> Rate Price </th>
             <th> Tva Taxe </th>

         </tr>
         </thead>
         <tbody>
         {% for product in products %}
             <tr>
                 <td>{{ product.reference}}</td>
                 <td>{{ product.name}}</td>
                 <td>{{ product.purcharsingPrice}}</td>
                 <td>{{ product.ratePrice}}</td>
                 <td>{{ product.tvaTaxe}}</td>
                 <td> <a href="{{ path('detailProduct',{id: product.id}) }}"> detail</a></td>
             </tr>
         {% endfor %}
         </tbody>
     </table>

 {% endblock %}